.footer {
  background-color: #f8f9fa;
  margin-top: 3rem;
  border-top: 1px solid #dee2e6;
  
  a {
    color:  #0d6efd;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}